form{
    border: solid 5px black;
    padding: 10px;
    width: 60%;
    margin: 150px auto;
    border-radius: 20px;
}

.container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: solid 2px red; */
    width: 50%;
    gap: 5px;
    cursor: pointer;
}

h1{
    text-align: center;
    font-weight: 700;
    color: rgb(43, 81, 82);
}

label{
    font-weight: 500;
    font-size: 20px;
}
input{
    width: 50%;
}