.nav-container {
    background-color: rgb(247, 224, 228);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.75);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
}

.search-bar{
    display: flex;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
}

.search-bar input{
    border: none;
    width: 250px;
}

.search-bar input:hover{
    border: none;
    outline: none;
}
.navbar-brand{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 700;
}
.navbar-brand img{
    width: 100px;
}
.nav-items-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 40px;
    list-style: none;
    align-items: center;
}

.nav-link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Georgia, serif;
    padding: 0.7rem 1rem;
}

.nav-link:hover{
    background-color: pink;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

