.addproduct-image {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.product-form {
    position: absolute;
    top: 150px;
    left: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.product-heading {
    text-align: center;
    color: palevioletred;
    font-size: 40px;
}

.product-label {
    font-size: 25px;
}

.container {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.product-input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.product-button {
    padding: 3px;
    font-size: 18px;
    background-color: palevioletred;
    width: 40%;
    margin: auto;
    color: white;
}

@media screen and (max-width: 900px) {
    .product-form {
        top: 130px;
        left: 50px;
    }

    .product-label {
        font-size: 20px;
    }

    .product-input {
        padding: 3px;
        margin-left: 10px;
        cursor: pointer;
    }
}

@media screen and (max-width: 470px) {
    .container div {
        display: flex;
        flex-direction: column;
    }

    .product-heading {
        font-size: 35px;
    }

    .product-form {
        top: 90px;
        left: 20px;
        flex-wrap: wrap;
    }

    .container {
        gap: 8px;
    }

    .product-button {
        font-size: 15px;
        width: 50%;
    }
}