.signup-form {
    border: solid 2px black;
    margin: 150px auto;
    width: 60%;
    display: flex;
    border: solid 5px #155263;
    background-color: #9fd3c7;
    border-radius: 25px;
}

.signup-heading {
    text-align: center;
}

.signup-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 5px;
}

.signup-label {
    font-size: 20px;
}

.signup-input {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: solid 2px gray;
}

.signup-button {
    width: 50%;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    border-top: #155263 solid 2px;
    margin: auto;
}
.signup-button:hover{
    background-color: rgb(202, 202, 202);
}

.signup-image {
    margin: auto;
}